* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.purple {
    color: rgb(100 21 255);
}

button {
    cursor: pointer;
}
h1 { 
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    margin-bottom: 24px;
}

a {
    text-decoration: none;
}

section {
    margin-bottom: 100px;
}
/* NAV */

nav {
    height: 100px;
    padding-top: 24px;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
}

ul {
    list-style: none;
}
.nav__link {
    padding-right: 8px;
    text-decoration: none;
    
}

.nav__logo {
    display: flex;
    align-items: center;

}
.logo {
    width: 64px;
    height: 64px;
    padding-right: 16px;
}

/* LANDING */

.introduction {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.form--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero--wrapper {
    width: 60%;
    display: flex;
}

.hero {
    width: 100%;
}

.customers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.trusted--customers {
    align-items: left;
}

.email--wrapper {
    border: 2px solid lightgray;
    display: flex;
    padding: 8px;
    border-radius: 9999px;
    justify-content: space-between;
    margin-bottom: 54px;
    width: 80%;
}

.form--email {
    border-style: hidden;
    padding: 8px;
    width: calc(2/3);
}

.form--button {
    background-color: rgb(100 21 255);
    color: #fff;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 9999px;
    border: none;
    width: calc(1/3);

}

/* FEATURES */

.features {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.feature {
    width: calc(100%/3);
    display: flex;
    padding: 16px;
}

.feature--description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}


.feature--icon {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    border: 2px solid lightgray;
    padding: 8px;
}
.feature--title {
    font-size: 24px;
}

.feature--para {
    font-size: 16px;
    width: 80%;
}

.section--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

/* PROFESSIONALS */

.professionals {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.professionals--text {

    width: 50%;
}

.professionals--image {
    width: 50%;
}


/* STEPS */


.step {
    display: flex;
}

.steps {
    display: flex;
}

.steps--wrapper {
    display: flex;
    flex-direction: column;
}

.steps--img {
    width: 100%;
}
.steps--img--wrapper {
    width: 50%;

}


.feature--description {
    margin-left: 24px;
}

/* VALUES */

.values {
    display: flex;
}

.value--highlights {
    display: flex;
}

.value--title--wrapper {
    display: flex;
}
.value--description {
    display: flex;
    flex-direction: column;
}

.svg {
    width: 1.5rem;
}

/* PRICING */

.pricing--wrapper {
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-evenly;
}

.plan--header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px grey solid;
    padding: 24px;
    align-items: center;
}

.plan--highlights {
    border-bottom: 1px grey solid;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan {
    border: 1px grey solid;
    width: calc(100%/3);
    border-radius: 20px;
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.buy--now {
    padding: 24px;
    margin: 24px;
    border-radius: 9999px;
}

.name {
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
}

.price {
    color: black;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 2.25rem;
    font-weight: 700;
}

.duration {
    font-weight: 700;
    letter-spacing: 0.1em;
    opacity: 1;
}

.mainhighlight {
    font-weight: bold;
}

.highlight {
    padding: 8px;
}

/* TESTIMONIALS */

.testimonials {
    display: flex;
}

.test--img--wrapper {
    width: 50%;
    padding: 24px;
    display: flex;
}

.test--wrapper {
    width: 50%;
    padding: 24px;
}

.test__img {
    width: 75px;
    height: 75px;
    border-radius: 9999px;
}

.test--img--desc {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.test--profile--wrapper {
    display: flex;
    align-items: center;
}


.test--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.next--test {
    display: flex;
    justify-content: space-around
}

.fa {
    padding: 16px;
    background: lightgray;
    border-radius: 9999px;
    margin: 16px;
}

/* FAQ */


.faq--header--wrapper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.faq--title {
    font-size: 24px;
    padding-left: 16px;
}

.faqs {
    display: flex;
    align-items: center;
    background-color: lightgray;
    justify-content: space-between;
    border-radius: 16px;
    margin-bottom: 16px;
}

.faq--wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

/* CONTACT US */

.contact-us {
    background-color:rgb(100 21 255);
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    padding: 64px 0;
}

.contact--title {
    padding: 36px;
    color: white;
    width: 60%;
    font-size: 1.5rem;
    margin-left: 48px;
}

.contact--buttons {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    width: 40%;
    margin-right: 48px;
}

.contact-button:first-of-type {
    background-color: rgb(245 101 101);
    border: 1px solid rgb(102, 25, 255);
}

.contact-button {
    color: #fff;
    padding: 16px;
    font-size: 20px;
    border-radius: 9999px;
    border: none;
    margin: 9px;
    background-color: rgb(100 21 255);
    border: 1px solid white;
    width: 50%;
}

/* FOOTER */

footer {
    background:rgb(102, 25, 255)
}
.footer {
    padding: 96px 0;
}
.links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
}

.footer-title {
    color: white;
    margin-bottom: 8px;
    padding: 8px;
}

.footer-link {
    color: white;
    padding: 8px;
}

.footer--info {
display: flex;
justify-content: space-between;
width: 100%;
margin-top: 36px;
}

.footer--img {
    display: flex;
    color: white;
    align-items: center;;
}

.footer--divider {
    width: 100%;
    border: rgb(153, 103, 255) 1px solid;
}
.footer--logo {
    width: 50px;
    height: 50px;
}

.fab {
    background-color: lightgray;
    padding: 8px;
    border-radius: 9999px;
    color: black;
    margin-right: 8px;
}

.footer--copyright {
    display: flex;
    align-items: center;
    color: white;
}

.footer--social--links {
    display: flex;
    align-items: center;
}