* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: purple;
}

h1 { 
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    margin-bottom: 16px;
}
/* NAV */

.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
}

ul {
    list-style: none;
}
.nav__link {
    padding-right: 8px;
    text-decoration: none;
    
}

.nav__logo {
    display: flex;
    align-items: center;

}
.logo {
    width: 64px;
    height: 64px;
    padding-right: 16px;
}

/* LANDING */

.introduction {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero--wrapper {
    width: 60%;
    display: flex;
}

.hero {
    width: 100%;
}

.customers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.trusted--customers {
    align-items: left;
}

.email--wrapper {
    border: 2px solid lightgray;
    display: flex;
    padding: 24px;
    border-radius: 9999px;
    justify-content: space-between;
    margin-bottom: 54px;
    width: 80%;
}

.form--email {
    border-style: hidden;
}