* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.purple {
    color: rgb(100 21 255);
}

button {
    cursor: pointer;
}
h1 { 
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    margin-bottom: 24px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}
a:visited {
    text-decoration: none;
}

section {
    margin-bottom: 100px;
}

.para--description {
    margin: 24px 0;
    font-size: 18px;
    line-height: 1.5;
    color:rgb(124 139 161)
}
/* NAV */

nav {
    height: 100px;
    padding-top: 24px;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
}

ul {
    list-style: none;
}

.nav__logo:hover {
    color:rgb(102, 25, 255);
}

.nav__link {
    padding-right: 8px;
    text-decoration: none;
    margin: 0 16px;
    font-weight: 500;
    
}

.nav__link:hover {
    color:rgb(102, 25, 255);
    text-decoration: underline;
}

.nav__link--primary {
    background-color: rgb(100 21 255);
    color: #fff;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 9999px;
    border: none; 
}
.nav__logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;

}
.logo {
    width: 58px;
    height: 58px;
    padding-right: 16px;
    font-weight: 700;
}

/* LANDING */

.introduction {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    padding: 48px 0;
}

.form--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.prof--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: 100px;
}

.prof--button {
    width: 25%;
}
.hero--wrapper {
    width: 60%;
    display: flex;
}

.hero {
    width: 100%;
}

.customers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    opacity: 40%;
}


.trusted--customers {
    align-items: left;
    font-size: 8px;
}

.email--wrapper {
    border: 2px solid lightgray;
    display: flex;
    padding: 8px;
    border-radius: 9999px;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 85%;
}

.form--email {
    border-style: hidden;
    padding: 10px;
    width: calc(2/3);
    margin-left: 8px;
}

.form--button {
    background-color: rgb(100 21 255);
    color: #fff;
    padding: 12px 30px;
    font-size: 14px;
    border-radius: 9999px;
    border: none;
    width: calc(1/3);
    font-weight: 700;

}

.customer--img {
    width: 80%;
}


/* FEATURES */

.highlight--text {
    letter-spacing: 1px;
    font-size: 16px;
    margin: 24px 0;
}

.section--title {
    font-weight: 900;
    color: rgb(59, 59, 59);
}

.highlight--description {
    width: 40%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    opacity: .5;
}
.features {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.feature {
    width: calc(100%/3);
    display: flex;
    padding: 16px;
}

.feature--description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
    margin-top: 8px;
}


.feature--icon {
    width: 75px;
    height: 75px;
    border-radius: 9999px;
    border: 1px solid rgba(211, 211, 211, 0.619);
    padding: 24px;
}
.feature--title {
    font-size: 24px;

}

.feature--para {
    font-size: 14px;
    width: 80%;
    color: rgb(142, 142, 142);
    font-weight: 500;
    line-height: 2;
}

.section--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

/* PROFESSIONALS */

.professionals {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.professionals--text {

    width: 50%;
}

.professionals--image {
    width: 50%;
    padding: 24px;
}

.prof--img--wrapper {
    width: 50%;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 4px;
    padding: 4px 0;
}

/* STEPS */


.step {
    display: flex;
}

.steps {
    display: flex;
}

.steps--wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    margin-bottom: 48px;
}


.steps--img {
    width: 100%;
    margin: 60px 0;
}
.steps--img--wrapper {
    width: 50%;

}

.step--number {
    font-weight: 600;
    font-size: 36px;
    color: rgb(203 213 224);
    margin-top: 8px;
}

.steps--numbered {
    margin-top: 24px;
}
.feature--description {
    margin-left: 24px;
}

.step--title {
    font-weight: 600;
    font-size: 20px;
    color: rgb(59, 59, 59);
}

/* VALUES */

.values {
    display: flex;
    justify-content: space-between;
}

.value--wrapper {
    width: 40%;
    margin-right: 24px;
}

.value--img--wrapper {
    width: 50%;
}
.value--highlights {
    display: flex;
}

.value--title--wrapper {
    display: flex;
}

.value--title {
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 16px;
    color: rgb(59, 59, 59);
}
.value--description {
    margin-right: 16px;
}

.value--para {
    margin-top: 16px;
    line-height: 1.5;
    color: rgb(142, 142, 142);
}
.svg {
    width: 36px;
    height: 36px;
}

/* PRICING */

.pricing--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    justify-content: space-evenly;
}

.plan--header {
    display: flex;
    flex-direction: column;
    border-bottom: 2px rgb(226, 232, 240) solid;
    padding: 36px 24px;
    align-items: center;
}

.plan--highlights {
    border-bottom: 2px rgb(226, 232, 240) solid;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan--highlight {
    height: 0.5rem;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.green--highlight {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.red--highlight {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan {
    border: 1px solid rgb(226, 232, 240);
    width: calc(100%/3);
    border-radius: .5rem;
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.plan--main {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}
.buy--now {
    padding: 24px;
    margin: 48px 72px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-weight: 700;

}

.buy--now--main {
    color:rgb(102, 25, 255)
}
.name {
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
}

.name--main {
    color: white;
}
.price {
    color: black;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 2.25rem;
    font-weight: 700;
    padding: 16px;
}
.price--main {
    color: white;
}

.duration {
    font-weight: 700;
    letter-spacing: 0.1em;
    opacity: .5;
}

.duration--main {
    opacity: 1;
}



.mainhighlight {
    font-weight: 700;
    font-size: 1.25rem;

}

.highlight {
    padding: 8px;

}

/* TESTIMONIALS */

.fa-star {
    color: orange;
}
.testimonials {
    display: flex;
}

.test--img--wrapper {
    width: 50%;
    padding: 24px;
    display: flex;
}

.test--wrapper {
    width: 50%;
    padding: 24px;
}

.test__img {
    width: 75px;
    height: 75px;
    border-radius: 9999px;
}

.test--img--desc {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.test--profile--wrapper {
    display: flex;
    align-items: center;
}


.test--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.next--test {
    display: flex;
    justify-content: space-around
}

.fa {
    padding: 16px;
    background: lightgray;
    border-radius: 9999px;
    margin: 16px;
}

/* FAQ */


.faq--header--wrapper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.faq--title {
    font-size: 24px;
    padding-left: 16px;
}

.faqs {
    display: flex;
    align-items: center;
    background-color: lightgray;
    justify-content: space-between;
    border-radius: 16px;
    margin-bottom: 16px;
}

.faq--wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

/* CONTACT US */

.contact-us {
    background-color:rgb(100 21 255);
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    padding: 64px 0;
}

.contact--title {
    padding: 36px;
    color: white;
    width: 60%;
    font-size: 1.5rem;
    margin-left: 48px;
}

.contact--buttons {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    width: 40%;
    margin-right: 48px;
}

.contact-button:first-of-type {
    background-color: rgb(245 101 101);
    border: 1px solid rgb(102, 25, 255);
}

.contact-button {
    color: #fff;
    padding: 16px;
    font-size: 20px;
    border-radius: 9999px;
    border: none;
    margin: 9px;
    background-color: rgb(100 21 255);
    border: 1px solid white;
    width: 50%;
}

/* FOOTER */

footer {
    background:rgb(102, 25, 255)
}
.footer {
    padding: 96px 0;
}
.links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
}

.footer-title {
    color: white;
    margin-bottom: 8px;
    padding: 8px;
}

.footer-link {
    color: white;
    padding: 8px;
}

.footer--info {
display: flex;
justify-content: space-between;
width: 100%;
margin-top: 36px;
}

.footer--img {
    display: flex;
    color: white;
    align-items: center;;
}

.footer--divider {
    width: 100%;
    border: rgb(153, 103, 255) 1px solid;
}
.footer--logo {
    width: 50px;
    height: 50px;
}

.fab {
    background-color: lightgray;
    padding: 8px;
    border-radius: 9999px;
    color: black;
    margin-right: 8px;
}

.footer--copyright {
    display: flex;
    align-items: center;
    color: white;
}

.footer--social--links {
    display: flex;
    align-items: center;
}